{{ with .Site.Data.portfolioSection }} {{ if .enable }}
<section class="section portfolio" id="portfolio">
  <div class="container">
    <div class="row text-center mt-2">
      <div class="col-lg-8 offset-lg-2">
        <div class="portfolio__header mb-4">
          <span class="top-title">{{ .topTitle }}</span>
          {{ .title | markdownify }}
        </div>
      </div>
    </div>

    <div class="row text-center">
      {{ range (where $.Site.RegularPages "Type" "portfolio").Reverse }}
      <!-- Grid item -->
      <div class="col-lg-3 col-md-6 mt-4">
        <a target="_blank" href="{{ .Params.link }}" title="View on OpenSea">
          <img
            class="portfolio-item-thumb img-fluid mb-3 shadow-sm"
            src="{{ .Params.thumbnail }}"
            alt=""
          />
        </a>
        <h3 class="mb-0">
          <a
            class="text-dark"
            target="_blank"
            href="{{ .Params.link }}"
            title="View on OpenSea"
            >{{ .Title }}</a
          >
        </h3>
        <p class="small text-muted font-italic"></p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }} {{ end }}
