{{ with .Site.Data.resumeSection }} {{ if .enable }}
<section class="section resume" id="resume">
  <div class="resume__background"></div>
  <div class="container">
    <div class="row text-center mt-2">
      <div class="col-lg-8 offset-lg-2">
        <div class="portfolio__header mb-5 text-light">
          <span class="top-title">{{ .topTitle }}</span>
          {{ .title | markdownify }}
        </div>
      </div>
    </div>

    <div class="row text-center d-flex justify-content-center">
      {{ range (where $.Site.RegularPages "Type" "team") }}
      <!-- Grid item -->
      <div class="col-lg-3 col-md-6 mt-4 mb-4">
        <img
          class="img-fluid mb-4 img-thumbnail shadow-lg rounded-circle"
          src="{{ .Params.thumbnail }}"
          alt=""
        />
        <h2 class="h4 text-light" style="margin: 4px 0 6px 0">{{ .Title }}</h2>
        <p class="text-light font-italic mb-1">
          {{ .Params.shortDescription }}
        </p>
        <div class="pt-0 mt-0">
          {{ if .Params.twitter }}
          <a
            target="_blank"
            href="{{ .Params.twitter }}"
            data-animate-hover="pulse"
            class="external twitter text-light mr-2"
            title="Twitter"
          >
            <i class="fa fa-twitter"></i>
          </a>
          {{ end }}
          {{ if .Params.linkedin }}
          <a
            target="_blank"
            href="{{ .Params.linkedin }}"
            data-animate-hover="pulse"
            class="external twitter text-light"
            title="Linkedin"
          >
            <i class="fa fa-linkedin"></i>
          </a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }} {{ end }}
