//
// Colors
//

// General
$primary: #5d78ff;
$secondary: #282f49;
// Text
$headings-color: #282f49;
$body-color: #444444;

//
// Typography
//

// Fonts
// @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900|Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Yeseva+One&display=swap");
$font-family-base: "Montserrat", sans-serif;
$headings-font-family: "Yeseva One", cursive;

// Size
$font-size-base: 1.125rem; // 18px
$h1-font-size: 44px;
$h2-font-size: 40px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 22px;
$h6-font-size: 16px;

// Spacing
$headings-margin-bottom: 1.5rem;
$line-height-base: 1.75;

// Misc
$link-hover-decoration: none;
